.power {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

	cursor: pointer;

	margin: 20px;

	width: stretch;
	height: fit-content;

	border-radius: var(--radius);
  transition: var(--transition);
  background: var(--background_second);

  transition: var(--transition);

  &:hover {
    transform: scale(1.01);
    border: var(--border);
  }

  &_close {
    display: none;
    position: absolute;
    top: -14px;
    right: 14px;
    
    border-radius: 50%;
    width: auto;
    height: 27px;
    transition: .2s;

    z-index: 4;
    background: var(--error);

  }

  &_label {
    width: stretch;
    opacity: 0%;
    transform: scale(0.0);
    
    position: absolute;
    bottom: -29px;
    left: 32%;
    
    color: var(--default);
    font-size: 19px;
    user-select: none;
    pointer-events: none;
    
    &--save {
      width: fit-content;
      bottom: -27px;
      left: 32%;
      background: var(--save);
      padding: 4px 7px;
      border-radius: 4px;
      pointer-events: all;
      cursor: pointer;
      font-size: 19px;
      font-weight: 700;
      color: var(--text_color);
      text-shadow: 2px 2px 7px black;

    }
  }

  &--new {
    background: var(--first);
    transform: scale(1.01);
    
  }
  
  &--editing {
    border-top: 1px solid #4e7dffe0;
    border-bottom: 1px solid #4e7dffe0;
    backdrop-filter: blur(4px);
    background: linear-gradient(to bottom right, #4e7dffe3, #4e7dffa6);
    transform: scale(1.01);
    
  }
  
  &--error {
    background: var(--third);
    transform: scale(1.01);
    
  }

  &_showOrder {
		transform: scale(0.9);
		border: var(--border);

		&_container {
			display: flex;
			justify-content: center;
			align-items: center;

  		border-radius: var(--radius);	
			position: absolute;
			background: #00000033;
			backdrop-filter: blur(2px);
	
			width: 100%;
			height: stretch;
			z-index: 9;
		}

		&_order {
			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 50%;
			padding: 2px;
			width: 42px;
			height: 42px;
			font-size: 34px;
			text-align: center;
			background: black;
			color: whitesmoke;
			text-shadow: 2px 2px 7px #000000cc;
		}
	}
}
