.power {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr;

	width: stretch;
	height: fit-content;

  &:hover {
    transform: scale(1.01);
    border: var(--border);
  }

  
  &_level {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px 0 0 10px;
    padding: 10px;
    background: var(--first);
  }
  
  &_hits {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    background: var(--second);
  }
  
  &_timer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 0 10px 10px 0;
    padding: 30px;
    background: var(--third);
  }

}
