.add {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  
  transition: var(--transition);
  
  margin: 40px;
  
  background: var(--first);
  
  &_button {
    cursor: pointer;
    border: none;
    background: transparent;

  }

  &:disabled {
    background: grey;
    &:hover {
      transform: none;
      cursor: auto;
      box-shadow: none;
    }
  }

  &:hover {
    transform: scale(1.07);
    border: var(--border);
  }
}
