@import "assets/vars";

.modal {
	display: none;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	position: absolute;
	overflow: hidden;
	
	user-select: none;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(7px);
	box-shadow: 2px 0px 17px rgba(0, 0, 0, 0.4);
	z-index: 99;

	&_title {
		color: var(--text_color);
		text-align: center;
		font-size: 70px;
		text-shadow: 2px 2px 5px #0e0e0e76;
	}
	&_body {
		display: flex;
		justify-content: center;
		align-items: center;
		
		padding: 40px;
		flex-wrap: wrap;
		gap: 20px;
	}

	&--open {
		display: flex;
	}
}
