@import "assets/vars";

.numberField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin: 7px;
  width: 242px;
  
  &--default {
    .label {
      color: var(--text_color);
    }
    .numberField_typer {
      border: 2px solid var(--default);
    }
  }
  &--finish {
    .label {
      color: var(--first);
    }
    .numberField_typer {
      border: 2px solid var(--first);
    }
  }
  &--warning {
    .label {
      color: var(--warning);
    }
    .numberField_typer {
      border: 2px solid var(--warning);
    }
  }
  &--error {
    .label {
      color: var(--error);
    }
    .numberField_typer {
      border: 2px solid var(--error);
    }
  }
  
  &_typer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    cursor: text;
    width: stretch;
    background: var(--background_second);
    border-radius: 4px;
    border: none;
    
    text-align: center;
    padding: 10px;
    
    overflow: hidden;
    font-size: smaller;
    font-weight: 600;
  }

  &_errors {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--error);
  
    margin: 0;
    padding: 4px 0;
  }
}
