.app {
  width: 100%;
  height: 100vh;

  max-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  background: var(--background_first);
  
  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    cursor: pointer;
    color: var(--text_color);
  }
  
  &_list {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    
    padding: 2vw;
    width: stretch;
    height: stretch;
    max-height: 77vh;
    
    overflow: hidden auto;
    
    &_item {
      width: 100vw;
    }

    &_add {
      position: absolute;
      bottom: 5vh;
    }
    
  }

  
  &_action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    font-size: smaller;
    
    padding: 20px;
  }
  
}